@model IEnumerable<KursovProekt1.Models.AccessLog>

<h1>Логове за достъп</h1>

<p>
    <a href="/AccessLog/Create" class="btn btn-primary">Добави лог</a>
</p>

<table class="table">
    <tr>
        <th>Потребител</th>
        <th>Стая</th>
        <th>Време</th>
        <th>Статус</th>
    </tr>

    @if (Model != null)
    {
        foreach (var log in Model)
        {
            <tr>
                <td>@log.User?.Email</td>
                <td>@log.Room?.RoomName</td>
                <td>@log.EntryTime.ToString("dd.MM.yyyy HH:mm")</td>
                <td>@log.Status</td>
            </tr>
        }
    }
</table>